.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

label{
    padding-right: 2px;
    font-size: 20px;
}

#name{
    width: 200px;
    padding-left: 5px;
}

#age{
    width: 40px;
    padding-left: 5px;
}

#e-mail{
    width: 250px;
    padding-left: 5px;
}

input{
    border-radius: 5px;
    height: 23px;
    padding-top: 2px;
    padding-bottom: 2px;
}

select{
    border-radius: 5px;
    height: 29px;
    width: 90px;
}

#message{
    margin-top: 30px;
    width: 50%;
    height: 300px;
    text-align: justify;
    padding: 5px;
    padding: 20px;
    border-radius: 10px;
}

#send{
    width: 100px;
    height: 30px;
    margin: 30px;
}

input:hover, select:hover{
    background-color: #091223;
}

#send:active{
    background-color: white;
    color: #091223;
}

input, textarea, select{
    font-size: 15px;
    background-color: #0c1931;
    border:1px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    box-shadow: 0px 0px 30px black;
}